@{
    ViewBag.Title = "Confirmação de Redefinição de Senha";
}

<main aria-labelledby="title" class="d-flex flex-column align-items-center justify-content-center">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h2 id="title" class="text-center text-primary mb-4">@ViewBag.Title</h2>

        <p class="text-center text-muted">
            Verifique seu e-mail para o link de redefinição de senha.
        </p>
        <div class="text-center mt-4">
            @Html.ActionLink("Voltar para o login", "Login", "Account", null, new { @class = "btn btn-outline-primary btn-lg" })
        </div>
    </div>
</main>
